.gradle
**/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/**/build/

# Ignore Gradle GUI config
gradle-app.setting
gradle-wrapper.properties
gradlew
gradlew.bat

# Ignore Gradle build output directory
build
**/logs/
gradle/
.settings
bin
.project*
.classpath
.idea/
.factorypath
kls_database.db
*.db

# Cache of project
.gradletasknamecache
.gitignore.swp
.classpath
.factorypath
.settings
.class
.PVS-Studio/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

